BROWSERSTACK_USERNAME=your_username
BROWSERSTACK_ACCESS_KEY=your_access_key
BROWSERSTACK_APP_ID=bs://your_app_id
BROWSERSTACK_APPIUM_VERSION=2.0.0
BROWSERSTACK_DEVICE=Samsung Galaxy S23
BROWSERSTACK_OS_VERSION=13.0
ANDROID_DEVICE_NAME=Android Emulator
ANDROID_UDID=emulator-5554
ANDROID_APP_PATH=apps/pixel-clock.apk
